/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@-ms-viewport {
    width: device-width; 
}

html {
    background-color: #ffffff;
    box-sizing: border-box;
}

body {
    margin-bottom: 32px;
}

@media screen and (max-width: 600px) {
    body {
        margin-bottom: 80px;
    }
}

/* headers and text types */

h1 {
    font-size: 208%;
    font-family: 'Jetbrains Mono';
    font-weight: 400;
    line-height: 1.2em;
    margin: 0.4em 0 0.4em 0;
    color: #181818;
}

h2 {
    font-size: 160%;
    font-family: 'Jetbrains Mono';
    font-weight: 400;
    line-height: 1.2em;
    margin: 0.4em 0 0.4em 0;
    color: #181818;
}

ul {
    font-size: 104%;
    font-family: 'Jetbrains Mono';
    line-height: 1.6em;
    margin: 0 0 1.6em 0;
    color: #757575;
    list-style-type: disc;
    padding: 0 8%;
}

#links {
    list-style-type: none;
    line-height: 1.6em;
    padding: 0;
}

#work {
    line-height: 1.6em;
    padding: 0 0 0.8em 0;
}

ol {
    font-size: 104%;
    font-family: 'Jetbrains Mono';
    line-height: 1.6em;
    margin: 0 0 1.6em 0;
    color: #757575;
    list-style-type: decimal;
    padding: 0 8%;
}

#blockquote {
    font-size: 100%;
    font-family: 'Jetbrains Mono';
    line-height: 1.6em;
    margin: 0 0 1.6em 0;
    color: #181818;
    list-style-type: disc;
    margin: 0 4%;
}

p {
    font-size: 104%;
    font-family: 'Jetbrains Mono';
    line-height: 1.6em;
    margin: 0 0 1.2em 0;
    color: #757575;
}

b {
    font-size: 104%;
    font-family: 'Jetbrains Mono';
    font-weight: 500;
    line-height: 1.6em;
    margin: 0 0 0.8em 0;
    color: #757575;
}

a {
    font-size: 100%;
    font-family: 'Jetbrains Mono';
    font-weight: 400;
    line-height: 1.6em;
    margin: 0 0 1.2em 0;
    color: #757575;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 6%;
}

a:hover {
    color: #181818;
}

#heading {
    margin: 0 0 1.2em 0;
    color: #181818;
}

/* type accessories */

sup {
    vertical-align: super;
    font-size: 80%;
    color: #181818;
    font-weight: 600;
    margin: 0 0 0 0.2em;
}

#orange {
    color: #181818;
    background-color: #ffcbb8;
}

#blue {
    color: #181818;
    background-color: #b7cef7;
}

#green {
    color: #181818;
    background-color: #9debaf;
}

blockquote {
    font-size: 100%;
    font-family: 'Jetbrains Mono';
    line-height: 1.6em;
    margin: 0 4% 1.2em 4%;
    color: #181818;
}

/* divs */

hr {
    display: block;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.9px;
}

.header {
    width: fit-content;
    height: fit-content;
    padding: 120px 32% 16px 16%;
}

@media screen and (max-width: 600px) {
    .header {
        width: fit-content;
        height: fit-content;
        padding: 80px 4% 16px;
    }
}

.standard {
    width: fit-content;
    height: fit-content;
    padding: 0 32% 32px 16%;
}

@media screen and (max-width: 600px) {
    .standard {
        width: fit-content;
        height: fit-content;
        padding: 0 4% 32px;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
    padding: 0 0 16px 0;
}

/* .text {
    width: fit-content;
    height: fit-content;
    padding: 96px 30% 0px;
}

@media screen and (max-width: 600px) {
    .text {
        width: fit-content;
        height: fit-content;
        padding: 25px 5% 0px;
    }
}

.back {
    width: fit-content;
    height: fit-content;
    padding: 50px 30% 0px;
}

@media screen and (max-width: 600px) {
    .back {
        width: fit-content;
        height: fit-content;
        padding: 50px 5% 0px;
    }
} */

/* gallery

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
}

.column {
    flex: 32%;
    max-width: 33%;
    padding: 0.5% 0.5%;
}

.column img {
    margin-top: 3%;
    vertical-align: middle;
    width: 100%;
    border-width: 0em;
}

#title {
    line-height: 0em;
} */