@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Nunito:wght@400;700&display=swap');
@-ms-viewport {
    width: device-width; 
}

html {
    background-color: #FFF;
    box-sizing: border-box;
}

#visualdesign {
    width: fit-content;
    height: fit-content;
    padding: 50px 15% 10px;
}

@media screen and (max-width: 600px) {
    #visualdesign {
        width: fit-content;
        height: fit-content;
        padding: 50px 5% 10px;
    }
}

#sketch {
    width: fit-content;
    height: fit-content;
    padding: 50px 15% 20px;
}

@media screen and (max-width: 600px) {
    #sketch {
        width: fit-content;
        height: fit-content;
        padding: 50px 5% 20px;
    }
}

#title {
    font-size: 100%;
    font-family: 'Domine', serif;
    line-height: 1em;
    margin: 0 0 1.5em 0;
    color: #000;
    text-underline-offset: 0.2em;
}

#title:hover{
    color: #646464;
    transition: 0.05s;
}

#case {
    font-size: 225%;
    font-family: 'Domine', serif;
    line-height: 1.5em;
    margin: 0 0 0.75em 0;
    color: #000;
}

h1 {
    font-size: 225%;
    font-family: 'Domine', serif;
    line-height: 0.25em;
    margin: 0.5em 0 0.8em 0;
    color: #000;
}

h2 {
    font-size: 150%;
    font-family: 'Domine', serif;
    line-height: 2em;
    margin: 0.5em 0 0.25em 0;
    color: #000;
}

h3 {
    font-size: 150%;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5em;
    margin: 1% 0 3%;
    text-align: center;
    color: #000;
}

ul {
    font-size: 110%;
    font-family: 'Nunito', sans-serif;
    line-height: 2em;
    margin: 0 0 1.5em 0;
    color: #000;
    list-style-type: none;
    padding: 0;
}

p {
    font-size: 110%;
    font-family: 'Nunito', sans-serif;
    line-height: 2em;
    margin: 0 0 1.5em 0;
    color: #000;
}

a {
    font-size: 100%;
    font-family: 'Nunito', sans-serif;
    line-height: 1em;
    margin: 0 0 1.5em 0;
    color: #000;
    text-underline-offset: 0.2em;
}

a:hover {
    font-weight: bold;
    color: #000;
    transition: 0.3s;
}

/* divs */

.header {
    width: fit-content;
    height: fit-content;
    padding: 30px 15% 1px;
}

@media screen and (max-width: 600px) {
    .header {
        width: fit-content;
        height: fit-content;
        padding: 30px 5% 1px;
    }
}

.standard {
    width: fit-content;
    height: fit-content;
    padding: 1px 15% 10px;
}

@media screen and (max-width: 600px) {
    .standard {
        width: fit-content;
        height: fit-content;
        padding: 1px 5% 10px;
    }
}

.inner {
    padding: 30px 0 0 0;
}

.text {
    padding: 50px 30% 0;
}

@media screen and (max-width: 600px) {
    .text {
        padding: 50px 5% 0;
    }
}

.back {
    width: fit-content;
    height: fit-content;
    padding: 50px 30% 10px;
}

@media screen and (max-width: 600px) {
    .back {
        width: fit-content;
        height: fit-content;
        padding: 50px 5% 10px;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* gallery */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
}

.column {
    flex: 32%;
    max-width: 33%;
    padding: 0.5% 0.5%;
}

.column img{
    margin-top: 3%;
    vertical-align: middle;
    width: 100%;
    border-width: 0em;
}

.avatar {
    padding: 0 0 1em 0;
}